# Ignore huge datasets
Image Classification & Segmentation/data/

# Ignore huge models
Image Classification & Segmentation/results/Segmentation/unet_model.pth

# Other files and directories to ignore
*.log
*.tmp
__pycache__/